@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Add to your global CSS */
input[type="text"] {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
input[type="text"]:focus {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}


@font-face {
  font-family: 'Funnel';
  src: url('/fonts/Funnel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: 'Funnel', Arial, Helvetica, sans-serif;
}


