@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add to your global CSS */
input[type="text"] {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
input[type="text"]:focus {
  border-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}


/* Custom modal overrides */
.custom-modal {
  background: transparent !important; /* Ensure the background is fully transparent */
  padding: 0 !important; /* Remove any extra padding */
  border: none !important; /* Eliminate borders */
  box-shadow: none !important; /* Eliminate shadows */
}

